[Desktop Entry]
Type=Application
Name=Logout
Icon=/home/vasile/.config/lxpanel/LXDE/panels/power.png
Exec=lxde-logout
TryExec=lxsession-logout
NoDisplay=true
